.login_outer_div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../src/assets/login_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}